flows/Case_Route_to_Ford_Skill_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Ford_Skill_to_skill_list</name>
        <label>Add Ford Skill to skill list</label>
        <locationX>242</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Ford_Skill.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_to_Ford_Skill</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Disable_Flows</name>
        <label>Disable Flows?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Ford_Skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Disable_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ford_Skill_Exist</name>
        <label>Ford Skill Exist ?</label>
        <locationX>374</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Ford Skill Null</defaultConnectorLabel>
        <rules>
            <name>Ford_Skill_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ford_Skill.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Ford_Skill_to_skill_list</targetReference>
            </connector>
            <label>Ford Skill NOT Null</label>
        </rules>
    </decisions>
    <description>Routes Ford escalation cases from email-to-case to agents with the Ford skill.</description>
    <environments>Default</environments>
    <interviewLabel>Case Route to Ford Skill Agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Route to Ford Skill Agents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Ford_Skill</name>
        <label>Get Ford Skill</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ford_Skill_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ford</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Flows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_to_Ford_Skill</name>
        <label>Route to Ford Skill</label>
        <locationX>242</locationX>
        <locationY>566</locationY>
        <flowName>Skill_Based_Routing</flowName>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>input_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>skillIds</name>
            <value>
                <elementReference>SkillList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
