flows/Case_Create_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>AssigntoUser</name>
        <choiceText>Assign to a Specific User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>selfAssignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>skillBased</name>
        <choiceText>Assign to a Specific Skill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skillBased</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_record_id_exists_and_is_case</name>
        <label>Check if record id exists and is case</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Error_Record_Id_blank_or_record_is_not_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Only_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Read_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insufficient_Access</targetReference>
            </connector>
            <label>Read Only User</label>
        </rules>
        <rules>
            <name>Case_record_and_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Action</targetReference>
            </connector>
            <label>Case record and not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Next_Selected</name>
        <label>Is Next Selected?</label>
        <locationX>1238</locationX>
        <locationY>1064</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Action</targetReference>
            </connector>
            <label>Next Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_Selected</name>
        <label>Option Selected ?</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>self</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_with_self_as_Owner</targetReference>
            </connector>
            <label>Self Selected</label>
        </rules>
        <rules>
            <name>Specific_User_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssigntoUser</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_with_User_Specified</targetReference>
            </connector>
            <label>Specific User was selected</label>
        </rules>
        <rules>
            <name>Skill_Based_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillBased</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Record_for_Skill_Routing</targetReference>
            </connector>
            <label>Skill Based was selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Is_Case_Resolution_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Is_Case_Resolution}, True, false)</expression>
    </formulas>
    <formulas>
        <name>picklistDefaultValue</name>
        <dataType>String</dataType>
        <expression>IF({!Assignment_Type}={!self},&apos;Completed&apos;,&apos;Open&apos;)</expression>
    </formulas>
    <formulas>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>taskFindings</name>
        <dataType>String</dataType>
        <expression>IF({!StatusPickList}=&apos;Completed&apos;,{!Findings_req},{!Findings})</expression>
    </formulas>
    <interviewLabel>Case Create Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Omni_task_record</name>
        <label>Create Omni task record</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Route_Omni_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollBack_Task_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusPickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_ID__c</field>
            <value>
                <elementReference>CreatedTaskId</elementReference>
            </value>
        </inputAssignments>
        <object>Omni_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record_for_Skill_Routing</name>
        <label>Create Task Record for Skill Routing</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>CreatedTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Omni_task_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_creating_task_skill_based</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Findings__c</field>
            <value>
                <elementReference>taskFindings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Case_Resolution__c</field>
            <value>
                <elementReference>Is_Case_Resolution_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusPickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subtype__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_with_self_as_Owner</name>
        <label>Create Task with self as Owner</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Task</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Findings__c</field>
            <value>
                <elementReference>taskFindings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Case_Resolution__c</field>
            <value>
                <elementReference>Is_Case_Resolution_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusPickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subtype__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_with_User_Specified</name>
        <label>Create Task with User Specified</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Task_for_Specific_User</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Findings__c</field>
            <value>
                <elementReference>taskFindings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Case_Resolution__c</field>
            <value>
                <elementReference>Is_Case_Resolution_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_User.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusPickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subtype__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <elementReference>Type_Dependent_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>RollBack_Task_Record</name>
        <label>RollBack Task Record</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_creating_task_skill_based</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Action</name>
        <label>Assign Action</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Option_Selected</targetReference>
        </connector>
        <fields>
            <name>Assign_Action_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Action_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assignment_Type</name>
                    <choiceReferences>self</choiceReferences>
                    <choiceReferences>AssigntoUser</choiceReferences>
                    <choiceReferences>skillBased</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>self</defaultSelectedChoiceReference>
                    <fieldText>Assignment Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Action_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assign_Action_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Action_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_User</name>
                    <choiceReferences>Users</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Select User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select User</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AssigntoUser</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SelectSkills</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SkillId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Skill</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SkillRequirement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>200.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>skillsSelected</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>skillBased</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AssigntoUser</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>skillBased</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Assign_Action_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Action_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Action_Value</name>
                    <fieldText>Action</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_Case_Resolution</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is Case Resolution</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.OwnerId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>runningUserId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Action_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_Dependent_Picklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Task_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Task_Subtype__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Task Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Task Subtype</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>StatusPickList</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>picklistDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Findings_req</name>
                    <fieldText>Findings</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;What was learned to support the resolution of this case?&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StatusPickList</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Completed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Findings</name>
                    <fieldText>Findings</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;What was learned to support the resolution of this case?&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StatusPickList</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Open</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assign_Successfull</name>
        <label>Assign Successfull</label>
        <locationX>1238</locationX>
        <locationY>956</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Next_Selected</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Task has been created successfully and routed. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please click on ‘Create Another Task’ button to create new task or click on ‘Finish’ to exit.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowButtonBar</name>
            <extensionName>c:flowBarButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{label: &apos;Create Another Task&apos;,value: &apos;Next&apos;,descriptionText:&apos;Allow user to create more records&apos;,iconPosition: &apos;left&apos;,variant:&apos;brand&apos;},{label: &apos;Finish&apos;,value: &apos;Finish&apos;,descriptionText:&apos;Marks the end of flow&apos;,iconPosition: &apos;left&apos;,variant:&apos;neutral&apos;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Task</name>
        <label>Error Creating Task</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreatingSelfTask</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error occurred during Task creation. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Task_for_Specific_User</name>
        <label>Error Creating Task for Specific User</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorSpecificUserAssignment</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error creating Task for specified user. Please contact System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_creating_task_skill_based</name>
        <label>Error creating task skill based</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorSkillBasedTaskCreation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error occurred while creating Task for skill based routing. Please contact System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Record_Id_blank_or_record_is_not_case</name>
        <label>Error Record Id blank or record is not case</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBlankRecordOrNotCase</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record selected is not case or no record sent.Please contact your System Administrator for further help&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_Access</name>
        <label>Insufficient Access</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InsufficientAccess</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You do not have permission to run the flow because of read only access.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_record_id_exists_and_is_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_Omni_Tasks</name>
        <label>Route Omni Tasks</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Successfull</targetReference>
        </connector>
        <flowName>Omni_Task_Skill_Based_Routing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Omni_task_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkillIds</name>
            <value>
                <elementReference>SelectSkills.recordIds</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Action</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CreatedOmniTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>skillsSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
