flows/Case_Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_task_Ids</name>
        <label>Add task Ids</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>selectedTaskIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_selected_tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_selected_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Task Findings in Closure Summary</description>
        <name>Concat_Findings</name>
        <label>Concat Findings</label>
        <locationX>1018</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Closure_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closure_Summary_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Selected_Tasks_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Is Case Resolution = False and Add current item in Tasks_to_update collection</description>
        <name>Is_Case_Resolution_False</name>
        <label>Is Case Resolution = False</label>
        <locationX>1546</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_all_Task.Is_Case_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tasks_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Is Case Resolution = True and Add current item in Tasks_to_update collection</description>
        <name>Set_Is_Case_Resolution_True</name>
        <label>Is Case Resolution = True</label>
        <locationX>1282</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_all_Task.Is_Case_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tasks_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Count</name>
        <label>Set Task Count</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Task_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Close</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check If Resolution_Tasks__c &gt; 0 OR NOT</description>
        <name>Check_Resolving_Action</name>
        <label>Check Resolving Action</label>
        <locationX>1194</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Roll_Back_Tasks_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Resolution Action</defaultConnectorLabel>
        <rules>
            <name>Resolution_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Case.Resolution_Tasks__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Selected_Tasks_1</targetReference>
            </connector>
            <label>Resolution Action</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Findings and CompletedDateTime Values</description>
        <name>Check_Task_Fields</name>
        <label>Check Task Fields</label>
        <locationX>1150</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Selected_Tasks_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IS NULL</defaultConnectorLabel>
        <rules>
            <name>NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Selected_Tasks_1.CompletedDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Selected_Tasks_1.Findings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Findings</targetReference>
            </connector>
            <label>NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Selection</name>
        <label>Check Task Selection</label>
        <locationX>1414</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Resolution_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT selected</defaultConnectorLabel>
        <rules>
            <name>Task_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTaskIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_all_Task.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Case_Resolution_True</targetReference>
            </connector>
            <label>Task Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Id_exists_and_is_Case</name>
        <label>Record Id exists and is Case?</label>
        <locationX>1810</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Error_Record_Id_blank_or_record_is_not_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Only_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Read_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insufficient_Access</targetReference>
            </connector>
            <label>Read Only User</label>
        </rules>
        <rules>
            <name>Case_record_and_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case record and not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Null</defaultConnectorLabel>
        <rules>
            <name>IS_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Record_Type_Error</targetReference>
            </connector>
            <label>IS NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolve_and_Create_Action</name>
        <label>Resolve and Create Action?</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Case_Create_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Action</defaultConnectorLabel>
        <rules>
            <name>Resolve_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Case_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close the Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_selected_tasks</targetReference>
            </connector>
            <label>Resolve Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Running_User_Check</name>
        <label>Running User Check</label>
        <locationX>2030</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Not_Case_Owner_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Case Owner</defaultConnectorLabel>
        <rules>
            <name>Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Record_Type</targetReference>
            </connector>
            <label>Case Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CompleteDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_Over_Selected_Tasks_1.CompletedDateTime})</expression>
    </formulas>
    <interviewLabel>Case - Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Close Case</label>
    <loops>
        <name>Loop_over_all_Task</name>
        <label>Loop over all Task</label>
        <locationX>1194</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_selected_tasks</name>
        <label>loop over selected tasks</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <collectionReference>Datatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_task_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_all_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Selected_Tasks_1</name>
        <label>Loop Over selected Tasks</label>
        <locationX>930</locationX>
        <locationY>2222</locationY>
        <collectionReference>Datatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Action_Record_Type</name>
        <label>Get Action Record Type</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Method_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>2030</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Running_User_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Method_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Task_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Method_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Case</name>
        <label>Get Updated Case</label>
        <locationX>1194</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Resolving_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Method_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Tasks</name>
        <label>Roll Back Tasks</label>
        <locationX>1194</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Error_Msg_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_Tasks_1</name>
        <label>Roll Back Tasks</label>
        <locationX>1458</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Error_Resolving_Action_Not_Present</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>930</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Tasks</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>Get_Case.Case_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subcategory__c</field>
            <value>
                <elementReference>Get_Case.Case_Subcategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Customer_Sentiment__c</field>
            <value>
                <elementReference>Get_Case.Closing_Customer_Sentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closure_Summary__c</field>
            <value>
                <elementReference>Closure_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Concern__c</field>
            <value>
                <elementReference>Get_Case.Customer_Concern__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Source__c</field>
            <value>
                <elementReference>Get_Case.Customer_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening_Customer_Sentiment__c</field>
            <value>
                <elementReference>Get_Case.Opening_Customer_Sentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Hypothesis__c</field>
            <value>
                <elementReference>Get_Case.Working_Hypothesis__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>1194</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Get_Updated_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_Back_Tasks</targetReference>
        </faultConnector>
        <inputReference>Tasks_To_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Close</name>
        <label>Case Close</label>
        <locationX>1722</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Resolve_and_Create_Action</targetReference>
        </connector>
        <fields>
            <name>Case_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Case Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Close_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Close_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Creation_Reason_Label</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;Creation Reason&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Creation_Reason</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Creation_Reason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Customer_Concern__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Close_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Creation_Subreason_Label</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;Creation Subreason&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Creation_Subreason</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Creation_Subreason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Working_Hypothesis__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Closing_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Closing Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Close_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Close_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Case_Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Close_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Case_Subcategory__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Close_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Close_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Opening_Customer_Sentiment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Close_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Closing_Customer_Sentiment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Close_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Close_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Case.Customer_Source__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Close_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Datatable_helptext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please select Resolving Case Action(s) or Create a new Resolving Action.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Is_Case_Resolution__c,Task_Type__c,Task_Subtype__c,Subject,Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Is_Case_Resolution__c:162, Task_Type__c:137, Task_Subtype__c:137, Subject:877, Status:258</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>OwnerId:Assigned To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Task</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Task_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Action_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create a New Action&quot;,&quot;value&quot;:&quot;Create a New Action&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Datatable.numberOfRowsSelected</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable.numberOfRowsSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Case_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Close the Case&quot;,&quot;value&quot;:&quot;Close the Case&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Datatable.numberOfRowsSelected</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Msg_Screen</name>
        <label>Error Msg Screen</label>
        <locationX>1194</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Record_Id_blank_or_record_is_not_case</name>
        <label>Error Record Id blank or record is not case</label>
        <locationX>3570</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBlankRecordOrNotCase</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Record selected is not case or no record sent. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Resolving_Action_Not_Present</name>
        <label>Error Resolving Action Not Present</label>
        <locationX>1458</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg_Resolving_Action_Not_Present</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Error: Resolving Action Not Selected - Please go back and select or add one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Method_Error_Screen</name>
        <label>Get Method Error Screen</label>
        <locationX>3306</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Get_Method_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_Access</name>
        <label>Insufficient Access</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InsufficientAccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You do not have permission to run the flow because of read only access.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Case_Owner_Error_Screen</name>
        <label>Not Case Owner Error Screen</label>
        <locationX>3042</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Case_Owner_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Only the case owner can close the case.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_screen</name>
        <label>success screen</label>
        <locationX>930</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Case {!Get_Case.CaseNumber} is now Closed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>success_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Creation_Reason_Label_2</name>
                    <fieldText>&lt;p&gt;Creation Reason&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Creation_Reason_2</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Creation_Reason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Creation_Subreason_Label_2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Creation Subreason&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Creation_Subreason_2</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Creation_Subreason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Category_1</name>
                    <fieldText>&lt;p&gt;Case Category&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Case_Category</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Case_Category__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_subcategory_1</name>
                    <fieldText>&lt;p&gt;Case Subcategory&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Case_Subcategory</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Case_Subcategory__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Concern</name>
                    <fieldText>&lt;p&gt;Customer Concern&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Concern_1</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Customer_Concern__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Working_Hypothesis</name>
                    <fieldText>&lt;p&gt;Working Hypothesis&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Working_Hypothesis_1</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Working_Hypothesis__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opening_Customer_Sentiment</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Opening Customer Sentiment&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Opening_Customer_Sentiment_1</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Opening_Customer_Sentiment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closing_Customer_Sentiment</name>
                    <fieldText>&lt;p&gt;Closing Customer Sentiment&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Closing_Customer_Sentiment_1</name>
                    <fieldText>&lt;p&gt;{!Get_Case.Closing_Customer_Sentiment__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>success_screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>success_screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closure_Summary_label</name>
                    <fieldText>&lt;p&gt;Closure Summary&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Closure_Summary_1</name>
                    <fieldText>&lt;p&gt;{!Closure_Summary}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>success_screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Record_Type_Error</name>
        <label>Task Record Type Error</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Task_Record_Type_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: Task Record Type is not found. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1684</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Id_exists_and_is_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Create_Action</name>
        <label>Case Create Action</label>
        <locationX>2250</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Task</targetReference>
        </connector>
        <flowName>Case_Create_Action</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Closure_Summary_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!Closure_Summary} &lt;/p&gt; &lt;p&gt;{!CompleteDateFormula} : {!Loop_Over_Selected_Tasks_1.Findings__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Closure_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTaskIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Tasks_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
