flows/Case_Assign_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_API_Integration_Users_To_Collection</name>
        <label>Assign API Integration Users To Collection</label>
        <locationX>1766</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>APIIntegrationUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_API_Integration_Users.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_API_Integration_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skilllist_for_non_escalation_user</name>
        <label>Assign Skilllist for non escalation user</label>
        <locationX>1843</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>SelectSkills.recordIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectSkills_Non_Escalation.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Option_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spanish_Skill</name>
        <label>Assign Spanish Skill</label>
        <locationX>1546</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>SelectSkills.recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Spanish_Skill.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Spanish_Skill.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_case_to_skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Existing_Skills</name>
        <label>Populate Existing Skills</label>
        <locationX>1942</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>existingSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Agent_Skills.SkillId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Agent_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Skills</name>
        <label>Set Existing Skills</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>existingSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Skill_requirements.SkillId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Skill_requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skill_Assignment</name>
        <label>Skill Assignment</label>
        <locationX>2250</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>existingSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Escalation_Skill.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectSkills.recordIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingSkillList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Language_Preferred</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Escalation</name>
        <choiceText>Escalation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalation</stringValue>
        </value>
    </choices>
    <choices>
        <name>self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>skillBased</name>
        <choiceText>Assign based on Primary Required Skill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skillBased</stringValue>
        </value>
    </choices>
    <choices>
        <name>specificUser</name>
        <choiceText>Assign to a Specific User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>specificUser</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Agent_Work_Exists</name>
        <label>Check If Agent Work Exists ?</label>
        <locationX>2118</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_API_Integration_Permission_Set_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_Work_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Work.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Skills</targetReference>
            </connector>
            <label>Agent Work Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_id_exists_and_type_is_case</name>
        <label>Check record id exists and type is case?</label>
        <locationX>2338</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Error_wrong_object_record_or_blank_record_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Read_Only_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Read_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Read_Only_User</targetReference>
            </connector>
            <label>Is Read Only User ?</label>
        </rules>
        <rules>
            <name>Record_is_case_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordSObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_record</targetReference>
            </connector>
            <label>Record is case type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Skills_Contain_Spanish</name>
        <label>Existing Skills Contain Spanish</label>
        <locationX>1458</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Assign_Spanish_Skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectSkills.recordIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Spanish_Skill.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_case_to_skill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Escalation_Skill_Added</name>
        <label>Is Escalation Skill Added</label>
        <locationX>1711</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Assign_Skilllist_for_non_escalation_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Escalation Skill Not Added</defaultConnectorLabel>
        <rules>
            <name>Escalation_Skill_Added</name>
            <conditionLogic>NOT(1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>existingSkillList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Escalation_Skill_for_Validation.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectSkills_Non_Escalation.recordIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Escalation_Skill_for_Validation.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Allowed_To_Add_Escalation_Skill</targetReference>
            </connector>
            <label>Escalation Skill Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Escalation_User</name>
        <label>Is Escalation User</label>
        <locationX>1678</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Non_Escalation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Escalation User</defaultConnectorLabel>
        <rules>
            <name>Escalation_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Escalations_Prevention</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case</targetReference>
            </connector>
            <label>Escalation User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skill_Based_Routing_Selected</name>
        <label>Is Skill Based Routing Selected ?</label>
        <locationX>2041</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Option_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill Based Routing Not Selected</defaultConnectorLabel>
        <rules>
            <name>Skill_Based_Routing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillBased</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Escalation_Skill_for_Validation</targetReference>
            </connector>
            <label>Skill Based Routing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Preferred</name>
        <label>Language Preferred</label>
        <locationX>1766</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Route_case_to_skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spanish_Skill</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Option_Selected</name>
        <label>Option Selected ?</label>
        <locationX>1678</locationX>
        <locationY>2882</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self_assignment_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>self</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_self_as_case_owner</targetReference>
            </connector>
            <label>Self assignment selected</label>
        </rules>
        <rules>
            <name>Specific_user_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>specificUser</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Specific_User</targetReference>
            </connector>
            <label>Specific user selected</label>
        </rules>
        <rules>
            <name>Skill_Based_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillBased</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Preferred</targetReference>
            </connector>
            <label>Skill Based Selected</label>
        </rules>
        <rules>
            <name>Escalation_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Escalated</targetReference>
            </connector>
            <label>Escalation Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Service_Routing_Found</name>
        <label>Pending Service Routing Found ?</label>
        <locationX>1678</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Service_Routing_Found_Decission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Service_Routing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skill_requirements_for_Pending_Service_Routing</targetReference>
            </connector>
            <label>Pending Service Routing Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>specificUsers</name>
        <collectionReference>Get_All_Applicable_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>recordSObject</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!recordId},TEXT(500))</expression>
    </formulas>
    <formulas>
        <name>SelectedUser</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Select_User.selectedChoiceValues}),{!Select_User_Non_Escalation.selectedChoiceValues},{!Select_User.selectedChoiceValues})</expression>
    </formulas>
    <interviewLabel>Case - Assign Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case-Assign Case</label>
    <loops>
        <name>Loop_over_Agent_Skills</name>
        <label>Loop over Agent Skills</label>
        <locationX>1854</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Agent_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Existing_Skills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_API_Integration_Permission_Set_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_API_Integration_Users</name>
        <label>Loop Over API Integration Users</label>
        <locationX>1678</locationX>
        <locationY>1574</locationY>
        <collectionReference>APIIntegrationUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_API_Integration_Users_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Applicable_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Skill_requirements</name>
        <label>Loop Over Skill requirements</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Skill_requirements_for_Pending_Service_Routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Existing_Skills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_API_Integration_Permission_Set_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agent_Skills</name>
        <label>Get Agent Skills</label>
        <locationX>1854</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Agent_Skills</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Default_Skills_AWS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWorkId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agent_Work.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWorkSkill</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Work</name>
        <label>Get Agent Work</label>
        <locationX>2118</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Agent_Work_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Agent_Work</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWork</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Applicable_Users</name>
        <label>Get All Applicable Users</label>
        <locationX>1678</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Escalation_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen_Get_Available_User_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>APIIntegrationUserIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_API_Integration_Permission_Set_Id</name>
        <label>Get API Integration Permission Set Id</label>
        <locationX>1678</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_API_Integration_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_Get_Available_User_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API_Integration</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>APIIntegrationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_API_Integration_Users</name>
        <label>Get API Integration Users</label>
        <locationX>1678</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_API_Integration_Users</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen_Get_Available_User_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APIIntegrationId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>APIIntegrationUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>1678</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Service_Routing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_Get_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Skill</name>
        <label>Get Escalation Skill</label>
        <locationX>2250</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Escalation_Skill</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Escalation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Skill_for_Validation</name>
        <label>Get Escalation Skill for Validation</label>
        <locationX>1711</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Escalation_Skill_Added</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Getting_Escalation_Skill</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Escalation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Service_Routing</name>
        <label>Get Pending Service Routing</label>
        <locationX>1678</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_Service_Routing_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_retrieving_PSR</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_requirements_for_Pending_Service_Routing</name>
        <label>Get Skill requirements for Pending Service Routing</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Skill_requirements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Default_Skills</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pending_Service_Routing.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <sortField>SkillNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spanish_Skill</name>
        <label>Get Spanish Skill</label>
        <locationX>1458</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Skills_Contain_Spanish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Spanish_Skill</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_self_as_case_owner</name>
        <label>Assign self as case owner</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Assignment_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_Self_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Specific_User</name>
        <label>Assign Specific User</label>
        <locationX>842</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Assignment_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_User_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedUser</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Escalated</name>
        <label>Case Escalated</label>
        <locationX>2250</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Get_Escalation_Skill</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_User_Assignment_Case_Escalation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Case</name>
        <label>Assign Case</label>
        <locationX>1315</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Option_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_user_or_primary_skill_to_assign_case_escalation</name>
            <choiceReferences>self</choiceReferences>
            <choiceReferences>specificUser</choiceReferences>
            <choiceReferences>skillBased</choiceReferences>
            <choiceReferences>Escalation</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>self</defaultSelectedChoiceReference>
            <fieldText>Select user or primary skill to assign case</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_User</name>
                    <choiceReferences>specificUsers</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_case_record.Owner:User.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Select User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select User</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>specificUser</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectSkills</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SkillId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Skill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SkillRequirement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>existingSkillList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>skillBased</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assign_Case_Non_Escalation</name>
        <label>Assign Case</label>
        <locationX>2041</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Skill_Based_Routing_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_User_or_primary_skill_to_assign_case_non_escalation</name>
            <choiceReferences>self</choiceReferences>
            <choiceReferences>specificUser</choiceReferences>
            <choiceReferences>skillBased</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>self</defaultSelectedChoiceReference>
            <fieldText>Select user or primary skill to assign case</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_Case_Non_Escalation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Case_Non_Escalation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_User_Non_Escalation</name>
                    <choiceReferences>specificUsers</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_case_record.Owner:User.Id</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Select User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select User</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>specificUser</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectSkills_Non_Escalation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SkillId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Skill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SkillRequirement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>existingSkillList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>skillBased</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assignment_Successfull</name>
        <label>Assignment Successfull</label>
        <locationX>1678</locationX>
        <locationY>3782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssignmentSuccessfull</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Case Assigned Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Agent_Work</name>
        <label>Error_Getting_Agent_Work</label>
        <locationX>2558</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_AW</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error retrieving record for Agent Work. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Default_Skills</name>
        <label>Error Getting Default Skills</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Default_Skills_PSR</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error retrieving skills for Pending Service Routing. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Default_Skills_AWS</name>
        <label>Error Getting Default Skill</label>
        <locationX>2118</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Agent_Skill</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error retrieving skills for Agent Work. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Escalation_Skill</name>
        <label>Error Getting Escalation Skill</label>
        <locationX>2514</locationX>
        <locationY>3206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Escalation_Case_Skill</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error retrieving skill for Escalation. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Spanish_Skill</name>
        <label>Error Getting Spanish Skill</label>
        <locationX>1810</locationX>
        <locationY>3206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Spanish_Language_Skill</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error retrieving Spanish skill. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_retrieving_PSR</name>
        <label>Error retrieving PSR</label>
        <locationX>4098</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_PSR</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error retrieving Pending Service Routing. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Get_Available_User_Records</name>
        <label>Error Screen Get Available User Records</label>
        <locationX>3834</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error retrieving Available Users or API Permission Set. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Get_Record</name>
        <label>Error Screen Get Record</label>
        <locationX>4362</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error retrieving selected case record. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Self_Assignment</name>
        <label>Error Screen Self Assignment</label>
        <locationX>578</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error assigning record to self. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_User_Assignment</name>
        <label>Error Screen User Assignment</label>
        <locationX>1106</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error assigning record to user selected. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_User_Assignment_Case_Escalation</name>
        <label>Error Screen User Assignment Case Escalation</label>
        <locationX>2778</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessageCaseEscalation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Error updating the case record. Please contact your System Administrator for further help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_wrong_object_record_or_blank_record_id</name>
        <label>Error wrong object record or blank record id</label>
        <locationX>4626</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorblankOrWrongRecord</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Record selected is not case or no record sent.Please contact your System Administrator for further help&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_To_Add_Escalation_Skill</name>
        <label>Not Allowed To Add Escalation Skill</label>
        <locationX>1579</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Option_Selected</targetReference>
        </connector>
        <fields>
            <name>ErrorEscalationAssignmentNotAllowed</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are not Authorized to add Escalation Skill to Case. Please Remove Escalation Skill to proceed further. For more information please contact System Administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Read_Only_User</name>
        <label>Read Only User</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReadOnlyUser</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You do not have permission to run the flow because of read only access.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_record_id_exists_and_type_is_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_case_to_skill</name>
        <label>Route case to skill</label>
        <locationX>1766</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Assignment_Successfull</targetReference>
        </connector>
        <flowName>Skill_Based_Routing</flowName>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>Get_case_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>skillIds</name>
            <value>
                <elementReference>SelectSkills.recordIds</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APIIntegrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APIIntegrationUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APIIntegrationUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingSkillList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
