flows/Case_Customer_Follow_Up_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Task AssignedTo = Case Owner</description>
        <name>Create_Agent_Task</name>
        <label>Create Agent Task</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tomorrowDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject20days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Task AssignedTo = Case Owner&apos;s Manager</description>
        <name>Create_Manager_Task</name>
        <label>Create Manager Task</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Task1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tomorrowDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject20days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task1.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Follow_up_Task_20_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Awaiting_Response_10_Days</name>
        <label>Awaiting Response 10 Days?</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Response Received</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_up_Task_10_days</targetReference>
            </connector>
            <label>Awaiting Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Awaiting_Response_20_Days</name>
        <label>Awaiting Response 20 Days?</label>
        <locationX>1128</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Response Received</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Response_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Agent_Task</targetReference>
            </connector>
            <label>Awaiting Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disable_Flows</name>
        <label>Disable Flows?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Flow Disabled</defaultConnectorLabel>
        <rules>
            <name>Flow_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Disable_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Response_10_Days</targetReference>
            </connector>
            <label>Flow Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disable_Flows_1</name>
        <label>Disable Flows?</label>
        <locationX>1337</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Flow Disabled</defaultConnectorLabel>
        <rules>
            <name>Flow_Enabled_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Disable_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Response_20_Days</targetReference>
            </connector>
            <label>Flow Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Case owner&apos;s Manager exists ?</description>
        <name>Manager_Exist</name>
        <label>Manager Exist?</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Follow_up_Task_20_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Manager_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow triggers two paths, one at 10 days and another at 20 days after the last status change, creating tasks to follow up with Customer and assigning them to the case owner and, in the second path, to the case owner’s manager.</description>
    <environments>Default</environments>
    <formulas>
        <name>tomorrowDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Case Customer Follow-Up Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Customer Follow-Up Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Follow_up_Task_10_days</name>
        <label>Follow-up Task 10 days</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>tomorrowDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject10days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Follow_up_Task_20_days</name>
        <label>Follow-up Task 20 days</label>
        <locationX>974</locationX>
        <locationY>900</locationY>
        <inputReference>Tasks</inputReference>
    </recordCreates>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Follow_Up_10_Days</name>
            <connector>
                <targetReference>Disable_Flows</targetReference>
            </connector>
            <label>Follow-Up - 10 Days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Status_Changed_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Follow_Up_20_Days</name>
            <connector>
                <targetReference>Disable_Flows_1</targetReference>
            </connector>
            <label>Follow-Up - 20 Days</label>
            <offsetNumber>20</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Status_Changed_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskSubject10days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No response in 10 days, please follow up with the customer to gather requested data. ({!$Record.CaseNumber})</text>
    </textTemplates>
    <textTemplates>
        <name>TaskSubject20days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No response in 20 days, please follow up with the customer to gather requested data. ({!$Record.CaseNumber})</text>
    </textTemplates>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
