flows/Email_Message_Case_Response_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Close_Duration</name>
        <label>Case Close Duration</label>
        <locationX>473</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Closed Less than Or Equal to 15 Days</defaultConnectorLabel>
        <rules>
            <name>Case_Closed_Greater_than_15_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceCaseClosed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Child_Case</targetReference>
            </connector>
            <label>Case Closed Greater than 15 days?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>605</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Case_is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Response Received</stringValue>
                </rightValue>
            </conditions>
            <label>Response Received</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Close_Duration</targetReference>
            </connector>
            <label>Case Closed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_is_New</name>
        <label>Check if Case is New</label>
        <locationX>1199</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case_and_Opening_Sentiment_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Opening_Customer_Sentiment__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_record_status_and_opening_sentiment</targetReference>
            </connector>
            <label>New Case and Opening Sentiment is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disable_Flows</name>
        <label>Disable Flows?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Disable_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Owner_Active</name>
        <label>Is Case Owner Active ?</label>
        <locationX>671</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Route_Case_to_Available_Agents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Owner Inactive Or Queue</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Case Owner Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceCaseClosed</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-DATEVALUE({!$Record.Parent.ClosedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewCaseDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.TextBody}, 32000)</expression>
    </formulas>
    <interviewLabel>Email Message - Case Response Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - Case Response Received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Child_Case</name>
        <label>Create New Child Case</label>
        <locationX>275</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_New_Task_Customer_Responded_after_15_Days</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Parent.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Parent.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Reason__c</field>
            <value>
                <elementReference>$Record.Parent.Creation_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Subreason__c</field>
            <value>
                <elementReference>$Record.Parent.Creation_Subreason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Concern__c</field>
            <value>
                <elementReference>$Record.Parent.Customer_Concern__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Parent.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.Parent.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>$Record.Parent.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task_Customer_Responded_after_15_Days</name>
        <label>Create New Task Customer Responded after 15 Days</label>
        <locationX>275</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Route_Child_Case_to_Agent</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>System created Task to populate the Last Communication Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer responded to a closed case after 15 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_New_Child_Case</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_record_status_and_opening_sentiment</name>
        <label>Update Case record status and opening sentiment</label>
        <locationX>1067</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opening_Customer_Sentiment__c</field>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Response Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>1331</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Response Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>671</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_Case_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Response Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Headers</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_Case_to_Available_Agents</name>
        <label>Route Case to Available Agents</label>
        <locationX>803</locationX>
        <locationY>863</locationY>
        <flowName>Skill_Based_Routing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Route_Child_Case_to_Agent</name>
        <label>Route Child Case to Agent</label>
        <locationX>275</locationX>
        <locationY>863</locationY>
        <flowName>Skill_Based_Routing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_New_Child_Case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
