flows/Skill_Based_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Creation_Reason_skill</name>
        <label>Add Creation Reason skill</label>
        <locationX>446</locationX>
        <locationY>992</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>loop_over_skillList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;eeded06b&quot;,&quot;skillId&quot;:&quot;{!Get_Creation_Reason_Skill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Work</name>
        <label>Route to Work</label>
        <locationX>446</locationX>
        <locationY>2516</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9DR0000008XGJ0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9DR0000008WA50AM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Case Manager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Case_Skill</name>
        <label>Set Case Skill</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Loop_over_SkillIds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;765dfb0c&quot;,&quot;skillId&quot;:&quot;{!Loop_over_SkillIds}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>skillList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>skillList</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Populate_Skill_Master_Labels_List</name>
        <label>Populate Skill Master Labels List</label>
        <locationX>534</locationX>
        <locationY>1808</locationY>
        <assignmentItems>
            <assignToReference>skillMasterLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Skill_Master_Labels.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Skill_Master_Labels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_skillIds</name>
        <label>populate skillIds</label>
        <locationX>710</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>skillIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_skillList.Skill.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_skillList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Duplicate</name>
        <label>Check Duplicate</label>
        <locationX>622</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>populate_skillIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Skill Id</defaultConnectorLabel>
        <rules>
            <name>skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_over_skillList.Skill.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_skillList</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Reason_Exist</name>
        <label>Creation Reason Exist</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loop_over_skillList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO Creation Reason</defaultConnectorLabel>
        <rules>
            <name>Creation_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Creation_Reason_Skill.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Creation_Reason_skill</targetReference>
            </connector>
            <label>Creation Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_and_Skill_Priority_Check</name>
        <label>Owner and Skill Priority Check</label>
        <locationX>446</locationX>
        <locationY>2216</locationY>
        <defaultConnector>
            <targetReference>Route_to_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Change_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending_Omni_Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Skill_Routing_Priority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Skill_Priority.Routing_Priority__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_skill_priority_and_owner</targetReference>
            </connector>
            <label>Change Both</label>
        </rules>
        <rules>
            <name>Chnage_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending_Omni_Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Change Owner</label>
        </rules>
        <rules>
            <name>Change_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Skill_Routing_Priority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Skill_Priority.Routing_Priority__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Skill_Priority</targetReference>
            </connector>
            <label>Change Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Exist</name>
        <label>Skill Exist?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Skill Exist</defaultConnectorLabel>
        <rules>
            <name>SkillIds_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_SkillIds</targetReference>
            </connector>
            <label>SkillIds NOT Null</label>
        </rules>
        <rules>
            <name>skillList_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Creation_Reason_Exist</targetReference>
            </connector>
            <label>skillList NOT Null</label>
        </rules>
        <rules>
            <name>Creation_Reason_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Creation_Reason_Skill.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Creation_Reason_skill</targetReference>
            </connector>
            <label>Creation Reason Skill</label>
        </rules>
    </decisions>
    <description>This Flow Routes the case based on skills</description>
    <environments>Default</environments>
    <formulas>
        <name>DisableValidationValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!input_record.Disable_Validations__c}, false, true)</expression>
    </formulas>
    <interviewLabel>Skill Based Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Based Routing</label>
    <loops>
        <name>Loop_over_Skill_Master_Labels</name>
        <label>Loop over Skill Master Labels</label>
        <locationX>446</locationX>
        <locationY>1700</locationY>
        <collectionReference>skillMasterLabelList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Skill_Master_Labels_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Skill_Priority</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_SkillIds</name>
        <label>Loop over SkillIds</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>skillIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_Reason_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_skillList</name>
        <label>loop over skillList</label>
        <locationX>446</locationX>
        <locationY>1100</locationY>
        <collectionReference>skillList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Skill_Master_Labels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Creation_Reason_Skill</name>
        <label>Get Creation Reason Skill</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Creation_Reason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Pending_Omni_Assignment Queue Id</description>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>446</locationX>
        <locationY>2108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_and_Skill_Priority_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending_Omni_Assignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Master_Labels</name>
        <label>Get Skill Master Labels</label>
        <locationX>446</locationX>
        <locationY>1592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Skill_Master_Labels</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>skillIds</elementReference>
            </value>
        </filters>
        <object>Skill</object>
        <outputReference>skillMasterLabelList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Priority</name>
        <label>Get Skill Priority</label>
        <locationX>446</locationX>
        <locationY>2000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>skillMasterLabels</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Omni_Skill_Routing__c</object>
        <sortField>Routing_Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>314</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>Route_to_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disable_Validations__c</field>
            <value>
                <elementReference>DisableValidationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Skill_Priority</name>
        <label>Update Skill Priority</label>
        <locationX>578</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>Route_to_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skill_Routing_Priority__c</field>
            <value>
                <elementReference>Get_Skill_Priority.Routing_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_skill_priority_and_owner</name>
        <label>Update skill priority and owner</label>
        <locationX>50</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>Route_to_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disable_Validations__c</field>
            <value>
                <elementReference>DisableValidationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Routing_Priority__c</field>
            <value>
                <elementReference>Get_Skill_Priority.Routing_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Creation_Reason_Skill</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>skillMasterLabelList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>skillMasterLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
