flows/Update_Owner_of_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Disable_Flows</name>
        <label>Disable Flows ?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Omni_Task_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DisableFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Disable_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Disable Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opened_Agent_Work_Exists</name>
        <label>Opened Agent Work Exists ?</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_Work_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Omni_Task_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Omni_Task</targetReference>
            </connector>
            <label>Agent Work Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Owner of Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Owner of Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Agent_Work</name>
        <label>Delete Agent Work</label>
        <locationX>242</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Delete_Omni_Task_Record</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Omni_Task_Record</name>
        <label>Delete Omni Task Record</label>
        <locationX>242</locationX>
        <locationY>971</locationY>
        <inputReference>Get_Omni_Task_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Omni_Task_Records</name>
        <label>Get Omni Task Records</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opened_Agent_Work_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Omni_Task__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Omni_Task</name>
        <label>Update Omni Task</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Task_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Omni_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_owner</name>
        <label>Update Task owner</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Delete_Agent_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Omni_Task_Records.Task_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Omni_Task_Records.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
